/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Koniec resetu CSS
*/

/* MENU */


ol {
	list-style-type: none; /* Reguła CSS która usuwa liczby */
	padding: 0;
	margin: 0;
	font-size: 18px;
	height: 20px;
	line-height: 40px;
	text-align: center;
 }

 ol li a{
 	color: rgba(8, 8, 8, 0.62);
 	font-weight: 600;
 }


 ol>li{
 	float: left;
 	width: 150px;
 	margin-left: 1px;
 	margin: 0 10px;
 	padding: 5px 0px;
 }


ol > li:first-child {
  margin-left:0;
}

 ol a{
 	display: block;
 	text-decoration: none;
 	padding: 0 5px;
 	color:#000000;
 	
 }

ol >li >a:hover{
	color: #09C;
}

ol>li>ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	width: 250px;
	height: 100px;
	margin-top: 13px;
}

ol>li>ul>li>a{
	
}

ol>li>ul>li>a:hover{
	color: #09C;
}

ol>li:hover>ul{
	display: block; /* Odpowiada za pokazanie się menu po najechniu myszką*/
	text-align: left;
	padding: 30px 0 10px 40px;
	border-top: solid;
	border-top-color: #13add0;
	background-color: #FFFFFF;

}


/* Globalne */

body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	color: 	#778899;
}

p{
	margin-top: 10px;
}

h2, h3, h4, label{
	color: #45474F;
}

h1{
	font-size: 54px;
	line-height: 1.2;
}

strong{
	font-weight: 600;
}

section {
	clear: both;
	padding: 40px 0 ; /* Oddzielenie każdej seklcji na daną liczbe pixeli*/
	overflow: auto;
}



.container{
	max-width: 1040px;
	margin: 0 auto;
}

.napisy{
	background-color: #333333;
	color: #FFFFFF;
	line-height: 10px;
}

.center-text{
	text-align: center;
}

/* Reguly reszty strony */

.top{
	height: 40px;
}

.top a{
	text-decoration: none;
}

.logo{
	float: left;
	font-size: 40px;
	font-weight: 600;
	padding: 20px 0 ;

}

.linia hr{
	background-color: gray;
	height: 5px;
	width: 85%;
}

.baner{
	background: url("../img/komplet.jpg") 0 -140px;
	padding: 300px;

}

.menu {
	float: none;
	width: 100%;

}

.menu ol{
	float: left;
	position: absolute;
	padding: 10px 50px 0 600px;
	font-size: 14px;
}


.menu ol li{
	
	line-height: 50px;
	color: rgba(8, 8, 8, 0.62);
	margin: 0 0 0 0 ;
}


.logo {
	position: relative;
	top: 50%;
	
}

.kolumny-1{
float: none;
}

.jedna-trzecia{
	width: 33.33%;
	float: left;

}

.jedna-druga{
	width: 50%;
	float: left;
}
.uslugi-tekst{
	display: block;

}

.jedna-druga-k{
	float: left;
	width: 50%;
}

.kontakt input {
	margin-bottom: 16px;
	background-color: #efefef;
	padding: 15px;
	border: 0px solid #DDDDDD;
	width: 50%;
	display:inline-block;
}

.form-group{
	float:left;
	width:50%;
}

#name{
	width: 80%;
}

#email{
	width: 80%;
}

#kontakt-prawa {
	border:none;
}


.button{
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid #000000;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-size: 20px;
	float: right;
	margin-right: 20px;
}


.button-dark:hover{
	background-color: #efefef;
	border:none;
	border: 2px;
}

.kontakt textarea{
	margin-bottom: 16px;
	background-color: #efefef;
	padding: 15px;
	border: 0px solid #DDDDDD;
	width: 90%;
	height: 150px;
	outline: none; /*Czysci obramowania formularza*/
}

.kontakt-napis{
	font-weight: 200;
	font-size: 25px;
	padding-bottom: 15px;
}

.stopka{
	background-color: #171717;
	color: #FFFFFF;
	height: 70px;
	vertical-align: middle;
	line-height: 70px;
	margin-top: 60px;
	color: #666
}

.stopka img{
	float: right;
	padding-top: 12px;
}

.social{
	background-color: blue;
}

#kontakt-prawa input{
	border: none;
	list-style-type: none;
	outline: none; /*Czysci obramowania formularza*/
}